body {
    background-image: url('/static/eg_ejust2.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 18px;
}
/* تطبيق تنسيقات للتوجيه */
.directions {
    font-size: 24px; /* حجم الخط */
    font-weight: bold; /* خط عريض */
    color: #007bff; /* لون النص */
    text-align: center; /* محاذاة النص في الوسط */
    margin-top: 20px; /* تباعد من الأعلى */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* ظل للنص */
}



/* تطبيق تنسيقات إضافية لجعل النص جميلًا */
h1 {
    font-size: 36px; /* حجم العنوان الرئيسي */
    font-weight: bold; /* تحديد الخط العريض */
    color: #333; /* لون النص */
    text-align: center; /* محاذاة النص في الوسط */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* إضافة ظل للنص */
    margin-bottom: 30px; /* تباعد من الأسفل */
}

/* تطبيق تنسيقات إضافية للأزرار */
button {
    font-size: 20px; /* حجم الخط للأزرار */
    padding: 10px 20px; /* تعديل الحشو للأزرار */
    background-color: #007bff; /* لون الخلفية للأزرار */
    color: #fff; /* لون النص للأزرار */
    border: none; /* إزالة الحدود */
    border-radius: 5px; /* إضافة زوايا مستديرة */
    cursor: pointer; /* تغيير المؤشر عند التحويل */
    transition: background-color 0.3s; /* تغيير لون الخلفية بشكل سلس */
}

button:hover {
    background-color: #0056b3; /* تغيير لون الخلفية عند التحويل */
}
